/venv
.env
/dataset/Dynamic/waving/*
/dataset/Static/lying/*
/dataset/Static/pointing/left/*
/dataset/Static/pointing/right/*
/dataset/Static/raising_arm/left/*
/dataset/Static/raising_arm/right/*
/dataset/Static/sitting/*
/dataset/Static/standing/*