/venv
.env
/dataset/Dynamic/waving/*
/dataset/Static/lying/*
/dataset/Static/pointing_left/*
/dataset/Static/pointing_right/*
/dataset/Static/raising_arm_left/*
/dataset/Static/raising_arm_right/*
/dataset/Static/sitting/*
/dataset/Static/standing/*